:root {
    /*Theme 01*/
    /*Backgrounds*/
    --light-gray: hsl(0, 0%, 90%);
    --grayish-red: hsl(0, 5%, 81%);
    --very-light-gray: hsl(0, 0%, 93%);
    /*Keys*/
    --dark-moderate-cyan: hsl(185, 42%, 37%);
    --very-dark-cyan: hsl(185, 58%, 25%);
    --orange: hsl(25, 98%, 40%);
    --dark-orange: hsl(25, 99%, 27%);
    --light-grayish-yellow: hsl(45, 7%, 89%);
    --dark-grayish-orange: hsl(35, 11%, 61%);
    /*Text*/
    --very-dark-grayish-yellow: hsl(60, 10%, 19%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
}

.main-container {
    min-width: 375px;
    max-width: 400px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 25px;
}

.themes-container {
    display: flex;
    align-items: center;
    gap: 35px;
}

.themes-container span {
    font-size: 12px;
}

.theme-options {
    display: flex;
    flex-direction: column;
}

.theme-options ul {
    display: flex;
    gap: 10px;
    list-style: none;
    font-size: 11px;
}

.theme-select {
    width: calc(100% + 10px);
    height: 20px;
    margin-top: 3px;
    margin-left: -5px;
    background-color: var(--grayish-red);
    border-radius: 15px;
}

main {
    width: 100%;
    margin-top: 35px;
}

.result-calc-container {
    width: 100%;
    height: 95px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--very-light-gray);
    border-radius: 10px;
    font-size: 40px;
}

.calc-keyboard {
    width: 100%;
    margin-top: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--grayish-red);
    border-radius: 10px;
}

.keys-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.key {
    width: 20%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0px 3px 1px 0px var(--dark-grayish-orange);
}

.key-reset,
.key-result {
    width: 45%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--very-light-gray);
    font-size: 20px;
}

.key-reset {
    background-color: var(--very-dark-cyan);
    box-shadow: 0px 3px 1px 0px var(--dark-moderate-cyan);
}

.key-result {
    background-color: var(--orange);
    box-shadow: 0px 3px 1px 0px var(--dark-orange);
}

.key:hover,
.key-reset:hover,
.key-result:hover {
    cursor: pointer;
}

.key:hover {
    background-color: var(--white);
}

.key-reset:hover {
    background-color: var(--dark-moderate-cyan);
}

.key-result:hover {
    background-color: rgb(255, 111, 44);
}

.symbol:hover {
    background-color: var(--dark-moderate-cyan);
    color: var(--white);
}
